In [1]:
import pandas as pd

In [31]:
hdata = pd.read_csv("C:/Users/hp\Desktop/DCU/DATA MANAGEMENT & VISUALIZATION/ASSIGNMENTS/13DecSubmission/Dataset/WorldHappinessData/WorldHappinessData/data/data_behind_table_2_1_whr_2017.csv")
scoredata = pd.read_csv("C:/Users/hp\Desktop/DCU/DATA MANAGEMENT & VISUALIZATION/ASSIGNMENTS/13DecSubmission/Dataset/WorldHappinessData/WorldHappinessData/data/figure2_2_whr_2017.csv")

In [32]:
hdata.head()

,wp5_country,country,year,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption,...,gini_index_world_bank_estimate,gini_index_world_bank_estimate_average_2000_13,gini_of_household_income_reported_in_gallup_by_wp5_year,most_people_can_be_trusted_gallup,most_people_can_be_trusted_wvs_round_1981_1984,most_people_can_be_trusted_wvs_round_1989_1993,most_people_can_be_trusted_wvs_round_1994_1998,most_people_can_be_trusted_wvs_round_1999_2004,most_people_can_be_trusted_wvs_round_2005_2009,most_people_can_be_trusted_wvs_round_2010_2014
0,Afghanistan,Afghanistan,2008,3.723590,7.197130,0.450662,47.550438,0.718114,0.183062,0.881686,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Afghanistan,2009,4.401778,7.362664,0.552308,47.859673,0.678896,0.204633,0.850035,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Afghanistan,2010,4.758381,7.416260,0.539075,48.159512,0.600127,0.138529,0.706766,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Afghanistan,2011,3.831719,7.445761,0.521104,48.451160,0.495901,0.176108,0.731109,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Afghanistan,2012,3.782938,7.549241,0.520637,48.738346,0.530935,0.247713,0.775620,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
scoredata.head()

,country,happiness_score,whisker_high,whisker_low,explained_by_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_1_85_residual,column_l,column_m,figure_2_2_ranking_of_happiness_2014_2016
0,Norway,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,NaN,NaN,NaN
1,Denmark,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,NaN,NaN,NaN
2,Iceland,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,NaN,NaN,NaN
3,Switzerland,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,NaN,NaN,NaN
4,Finland,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,NaN,NaN,NaN

In [34]:
hdata_column_names = hdata.columns
print(column_names)

Index(['country', 'happiness_score', 'whisker_high', 'whisker_low',
       'explained_by_gdp_per_capita', 'explained_by_social_support',
       'explained_by_healthy_life_expectancy',
       'explained_by_freedom_to_make_life_choices', 'explained_by_generosity',
       'explained_by_perceptions_of_corruption', 'dystopia_1_85_residual',
       'column_l', 'column_m', 'figure_2_2_ranking_of_happiness_2014_2016'],
      dtype='object')

In [35]:
score_data_column_names = scoredata.columns
print(column_names)

Index(['country', 'happiness_score', 'whisker_high', 'whisker_low',
       'explained_by_gdp_per_capita', 'explained_by_social_support',
       'explained_by_healthy_life_expectancy',
       'explained_by_freedom_to_make_life_choices', 'explained_by_generosity',
       'explained_by_perceptions_of_corruption', 'dystopia_1_85_residual',
       'column_l', 'column_m', 'figure_2_2_ranking_of_happiness_2014_2016'],
      dtype='object')

In [36]:
for i in hdata_column_names:
  print('{} is unique: {}'.format(i, hdata[i].is_unique))

wp5_country is unique: False
country is unique: False
year is unique: False
life_ladder is unique: True
log_gdp_per_capita is unique: False
social_support is unique: False
healthy_life_expectancy_at_birth is unique: False
freedom_to_make_life_choices is unique: False
generosity is unique: False
perceptions_of_corruption is unique: False
positive_affect is unique: False
negative_affect is unique: False
confidence_in_national_government is unique: False
democratic_quality is unique: False
delivery_quality is unique: False
standard_deviation_of_ladder_by_country_year is unique: True
standard_deviation_mean_of_ladder_by_country_year is unique: False
gini_index_world_bank_estimate is unique: False
gini_index_world_bank_estimate_average_2000_13 is unique: False
gini_of_household_income_reported_in_gallup_by_wp5_year is unique: False
most_people_can_be_trusted_gallup is unique: False
most_people_can_be_trusted_wvs_round_1981_1984 is unique: False
most_people_can_be_trusted_wvs_round_1989_1993 is unique: False
most_people_can_be_trusted_wvs_round_1994_1998 is unique: False
most_people_can_be_trusted_wvs_round_1999_2004 is unique: False
most_people_can_be_trusted_wvs_round_2005_2009 is unique: False
most_people_can_be_trusted_wvs_round_2010_2014 is unique: False

In [37]:
hdata.index.values

array([   0,    1,    2, ..., 1417, 1418, 1419], dtype=int64)

In [38]:
'foo' in hdata.index.values

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

False

In [39]:
columns_to_drop = [hdata_column_names[i] for i in [1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24 ]]

In [40]:
hdata.drop(columns_to_drop, inplace=True, axis=1)

In [41]:
hdata_column_names = hdata.columns
print(column_names)

Index(['country', 'happiness_score', 'whisker_high', 'whisker_low',
       'explained_by_gdp_per_capita', 'explained_by_social_support',
       'explained_by_healthy_life_expectancy',
       'explained_by_freedom_to_make_life_choices', 'explained_by_generosity',
       'explained_by_perceptions_of_corruption', 'dystopia_1_85_residual',
       'column_l', 'column_m', 'figure_2_2_ranking_of_happiness_2014_2016'],
      dtype='object')

In [43]:
hdata.head()

,wp5_country,year,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption,most_people_can_be_trusted_wvs_round_2005_2009,most_people_can_be_trusted_wvs_round_2010_2014
0,Afghanistan,2008,3.723590,7.197130,0.450662,47.550438,0.718114,0.183062,0.881686,NaN,NaN
1,Afghanistan,2009,4.401778,7.362664,0.552308,47.859673,0.678896,0.204633,0.850035,NaN,NaN
2,Afghanistan,2010,4.758381,7.416260,0.539075,48.159512,0.600127,0.138529,0.706766,NaN,NaN
3,Afghanistan,2011,3.831719,7.445761,0.521104,48.451160,0.495901,0.176108,0.731109,NaN,NaN
4,Afghanistan,2012,3.782938,7.549241,0.520637,48.738346,0.530935,0.247713,0.775620,NaN,NaN

In [44]:
columns_to_drop = [hdata_column_names[i] for i in [9, 10]]

In [45]:
hdata.drop(columns_to_drop, inplace=True, axis=1)

In [46]:
hdata.head()

,wp5_country,year,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,2008,3.723590,7.197130,0.450662,47.550438,0.718114,0.183062,0.881686
1,Afghanistan,2009,4.401778,7.362664,0.552308,47.859673,0.678896,0.204633,0.850035
2,Afghanistan,2010,4.758381,7.416260,0.539075,48.159512,0.600127,0.138529,0.706766
3,Afghanistan,2011,3.831719,7.445761,0.521104,48.451160,0.495901,0.176108,0.731109
4,Afghanistan,2012,3.782938,7.549241,0.520637,48.738346,0.530935,0.247713,0.775620

In [47]:
score_columns_drop = [score_data_column_names[i] for i in [10, 11, 12, 13]]

In [66]:
score_columns_drop = [score_data_column_names[i] for i in [4, 5, 6, 7, 8, 9]]

In [67]:
scoredata.drop(score_columns_drop, inplace=True, axis=1)

In [68]:
scoredata.head()

       country  happiness_score  whisker_high  whisker_low
0       Norway            7.537      7.594445     7.479556
1      Denmark            7.522      7.581728     7.462272
2      Iceland            7.504      7.622030     7.385970
3  Switzerland            7.494      7.561772     7.426227
4      Finland            7.469      7.527542     7.410458

In [53]:
hdata['life_ladder'] = hdata['life_ladder'].fillna(hdata['life_ladder'].mean())

In [54]:
hdata['log_gdp_per_capita'] = hdata['log_gdp_per_capita'].fillna(hdata['log_gdp_per_capita'].mean())

In [55]:
hdata['social_support'] = hdata['social_support'].fillna(hdata['social_support'].mean())

In [56]:
hdata['healthy_life_expectancy_at_birth'] = hdata['healthy_life_expectancy_at_birth'].fillna(hdata['healthy_life_expectancy_at_birth'].mean())

In [57]:
hdata['freedom_to_make_life_choices'] = hdata['freedom_to_make_life_choices'].fillna(hdata['freedom_to_make_life_choices'].mean())

In [58]:
hdata['generosity'] = hdata['generosity'].fillna(hdata['generosity'].mean())

In [59]:
hdata['perceptions_of_corruption'] = hdata['perceptions_of_corruption'].fillna(hdata['perceptions_of_corruption'].mean())

In [69]:
hdata.head()

,wp5_country,year,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,2008,3.723590,7.197130,0.450662,47.550438,0.718114,0.183062,0.881686
1,Afghanistan,2009,4.401778,7.362664,0.552308,47.859673,0.678896,0.204633,0.850035
2,Afghanistan,2010,4.758381,7.416260,0.539075,48.159512,0.600127,0.138529,0.706766
3,Afghanistan,2011,3.831719,7.445761,0.521104,48.451160,0.495901,0.176108,0.731109
4,Afghanistan,2012,3.782938,7.549241,0.520637,48.738346,0.530935,0.247713,0.775620

In [70]:
scoredata.head()

       country  happiness_score  whisker_high  whisker_low
0       Norway            7.537      7.594445     7.479556
1      Denmark            7.522      7.581728     7.462272
2      Iceland            7.504      7.622030     7.385970
3  Switzerland            7.494      7.561772     7.426227
4      Finland            7.469      7.527542     7.410458

In [71]:
scoredata['happiness_score'] = scoredata['happiness_score'].fillna(scoredata['happiness_score'].mean())

In [72]:
scoredata['whisker_high'] = scoredata['whisker_high'].fillna(scoredata['whisker_high'].mean())

In [73]:
scoredata['whisker_low'] = scoredata['whisker_low'].fillna(scoredata['whisker_low'].mean())

In [75]:
hdata.to_csv('C:/Users/hp\Desktop/DCU/DATA MANAGEMENT & VISUALIZATION/ASSIGNMENTS/13DecSubmission/Dataset/WorldHappinessData/WorldHappinessData/data_behind_table_2_1_whr_2017.csv')

In [76]:
scoredata.to_csv('C:/Users/hp\Desktop/DCU/DATA MANAGEMENT & VISUALIZATION/ASSIGNMENTS/13DecSubmission/Dataset/WorldHappinessData/WorldHappinessData/figure2_2_whr_2017.csv')